.aboutArea {
	padding-bottom: 2rem;
	margin: 10rem 0 5rem;
	text-align:left;
	@include mq(large) {
		padding-left: 3.5rem;
	}
	&__text {
		font-size: 1.8rem;
		line-height: 1.6;
		font-weight: 300;
		@include mq(medium) {
			font-size: 2rem;
		}
		span {
			font-weight: 500;
		}
	}

	&__knowledge {
		color: $secondary-color;
		font-size: 1.3rem;
		font-weight: 500;
		font-family: $font-family--skillText;
		line-height: 1.6;
		opacity: 0.83;
		@include mq(medium) {
			font-size: 1.8rem;
		}
	}
}

