.blogArea {
	position: relative;
	margin-bottom: 6rem;
	&__heading {
		@extend .portfolioArea__heading;
		left: 0;
		margin: 0;
		@include mq(medium) {
			left: 0;
		}
		@include mq(large) {
			left: -1rem;
			top: 10rem;
		}
	}
	&__blogContainer {
		@extend .portfolioArea__portfolioContainer;
		padding-right: 1.5rem;
	}
	&__frontPageBlog:not(:first-child) {
		margin-top: 4rem;
	}
	&__frontPageBlog {
		p {
		font-size: 1.6rem;
		opacity: 0.83;
		font-weight: 300;
		line-height: 1.7;
		@include mq(medium) {
			font-size: 1.8rem;
		}
		}
	}
}