.desktopContainer {
	@include mq(large) {
		display: flex;
		height: 195.5rem;
		flex-flow: column wrap;
		max-width: $max-width--desktop;
		margin: auto;
	}
}

.mainArea {
		@include mq(large) {
			width:50%;
			margin: 0;
			align-self: flex-start;
		}
}

.aboutArea {
	@include mq(large) {
		width: 40%;
		order: 3;
		padding-top: 3rem;
		align-self: flex-end;
	}
}

.blogArea {
	@include mq(large) {
		width: 52%;
		order: 1;
	}
}

.portfolioArea {
	@include mq(large) {
		width:42.5%;
		order: 4;
		align-self: flex-end;
	}
}

.contactArea {
	@include mq(large) {
		order:5;
		margin-top: 0;
		width: 60;
	}
}