.contactArea {
	margin: 7rem 0 9rem;

	&__heading {
		font-size: 3rem;
		color: $secondary-color;
		font-weight: 300;
		margin-bottom: 0.3rem;
		font-family: $font-family--skillText;
	}

	&__socialContainer {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 20rem;
		padding: 0;
		line-height: 1.7;
		@include mq(large) {
			width: 35rem;
		}
		
		a {
			font-size: 2rem;
			opacity: 0.87;
			&:hover {
				color: $secondary-color;
			}
		}

		li {
			position: relative;
			margin-bottom: 1rem;
		}

		li:not(:last-child)::after {
			content: "/";
			display: block;
			font-weight: 300;
			font-size: 2.3rem;
			color: $grey;
			position: absolute;
			right: -2.5rem;
			top: 50%;
			transform: translateY(-50%);
		@include mq(large) {
			right: -1.9rem;
		}
		}
	}

}