.footer {
	padding: 5rem 1rem 2rem;
	background-color: $primary-color;

	&__infoContainer {
		@include outer-container($max-width--desktop);
	}
}

.insideFooter {
	background-color: $primary-color;
	padding: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__navContainer {
		width: 50%;
	}
	&__logoContainer{
		@include size(25rem null);
		img {
			width: 100%;
		}
	}
}
