%heroText--style {
	@include shift(1);
	@include span-columns(10);
	font-weight: 300;
	color: transparent;
	@include linear-gradient(to bottom right,
		                        #ED645B 30%,
		                        #53A0FD 70%,
		                        #ECDF51 100%);
	-webkit-background-clip: text;
}