%heroText--style {
	font-family: $font-family--skillText;
	font-weight: 100;
	color: $primary-color;
	-webkit-text-fill-color: transparent;
	@include linear-gradient(to bottom right,
		                        #ED645B 30%,
		                        #53A0FD 70%,
		                        #ECDF51 100%);
	background: -moz-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
}